@model Autorepuestos.Entities.CatalogosEntities
@{
    ViewBag.Title = "DetalleProducto";
}
<hr />
<hr />
<hr />
<hr />
<h1>Detalle Producto</h1>

<div>
    <hr />

    @Html.HiddenFor(m => m.IdProducto)
    <div class="d-flex justify-content-center container mt-5">
        <div class="card p-3 bg-white">
            <div class="about-product text-center mt-2">
                <img class='mx-auto img-thumbnail'
                     src="@Url.Content(Model.Imagen)" alt="Descripción de la imagen"
                     title="Descripción adicional de la imagen"
                     width="350" height="500" />
                <div>
                    <h4 class="card-title font-weight-bold">@Html.DisplayFor(m => m.NombreProducto)</h4>
                    <h6 class="card-title font-weight-bold">@Html.DisplayFor(m => m.Descripcion)</h6>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between"><span>Existencias disponibles:</span><span>@Html.DisplayFor(m => m.Existencias)</span></div>
                <br>
                <div class="d-flex justify-content-between">
                    <span>Precio:</span>
                    <span>
                        ₡@Html.TextBoxFor(m => m.Precio, new { @readonly = true, style = "border: none; text-align: right; width: 50px;" })
                    </span>
                </div>
                <br>

            </div>

        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
