<!DOCTYPE html>
<html lang="en">

<head onload="MontoTotal();">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Autorepuestos Doña Ana</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/template/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link src="~/template/vendor/swiper/swiper-bundle.min.cs"/>
    <link href="~/template/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/template/vendor/aos/aos.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/template/css/main.css" rel="stylesheet" />

</head>

<body>
    @{
        var rol = Context.Session.GetInt32("IdRol");
        var usuario = Context.Session.GetInt32("IdUsuario");
    }
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="@Url.Action("VerCatalogos","Catalogo")" class="logo d-flex align-items-center  me-auto me-lg-0">
                <i class="bi bi-wrench-adjustable-circle"></i>
                <h1>AUTOREPUESTOS DOÑA ANA</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    @if(rol == 1)
                    {
@*                       <input type="text" id="search-input" class="form-control" placeholder="Buscar productos...">*@
                        <li><a href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
                        <li><a href="@Url.Action("ModificarUsuarioUno","Usuario", new{id = usuario})">Usuario</a></li>
                        <li><a href="@Url.Action("CarritoCompras", "Carrito")">Carrito</a></li>
                        <li><a href="@Url.Action("CerrarSesion", "Home")">Cerrar Sesión</a></li>
                    }
                    @if(rol == 2){
                    <li><a href="@Url.Action("MostrarProductos", "Producto")">Productos</a></li>
                    <li><a href="@Url.Action("CarritoCompras", "Carrito")">Carrito</a></li>
                    <li><a href="@Url.Action("VerEntregas", "Entrega")">Entregas</a></li>
                    <li><a href="@Url.Action("MostrarPedido", "Pedido")">Pedido</a></li>
                    <li><a href="@Url.Action("VerFacturas", "Factura")">Facturas</a></li>
                    <li><a href="@Url.Action("VerUsuarios", "Usuario")">Usuarios</a></li>
                    <li><a href="@Url.Action("CerrarSesion", "Home")">Cerrar Sesión</a></li>
                    }
                    @if (rol == 3)
                    {
                        <li><a href="@Url.Action("MostrarProductos", "Producto")">Productos</a></li>
                        <li><a href="@Url.Action("CarritoCompras", "Carrito")">Carrito</a></li>
                        <li><a href="@Url.Action("VerEntregas", "Entrega")">Entregas</a></li>
                        <li><a href="@Url.Action("MostrarPedido", "Pedido")">Pedido</a></li>
                        <li><a href="@Url.Action("VerFacturas", "Factura")">Facturas</a></li>
                        <li><a href="@Url.Action("VerUsuarios", "Usuario")">Usuarios</a></li>
                        <li><a href="@Url.Action("CerrarSesion", "Home")">Cerrar Sesión</a></li>
                    }
                    @if (rol == 4)
                    {
                        <li><a href="@Url.Action("VerEntregas", "Entrega")">Entregas</a></li>
                        <li><a href="@Url.Action("VerUsuarios", "Usuario")">Usuarios</a></li>
                        <li><a href="@Url.Action("CerrarSesion", "Home")">Cerrar Sesión</a></li>
                    }
                 </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->


    <main id="main" data-aos="fade" data-aos-delay="1500">

        <section id="gallery" class="gallery">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>

    </main><!-- End #main -->
    <br />
    <br />
    <br />
    <footer id="footer" class="footer bg-dark text-center text-lg-start text-white">
        <div class="container">
            <div class="row my-4">

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-right">
                    <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                        <img src="/template/imagen/Logo.png" height="70" alt="" loading="lazy" />
                    </div>
                    <p class="text-center">La calidad y el servicio son nuestra especialidad en Auto Repuestos Doña Ana</p>
                </div>
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase mb-4">Marcas</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <p><i class="bi bi-car-front-fill"></i> CHEVROLET</p>
                        </li>
                        <li class="mb-2">
                            <p><i class="bi bi-car-front-fill"></i> HYUNDAI</p>
                        </li>
                        <li class="mb-2">
                            <p><i class="bi bi-car-front-fill"></i> TOYOTA</p>
                        </li>
                        <li class="mb-2">
                            <p><i class="bi bi-car-front-fill"></i> SUZUKI</p>
                        </li>
                        <li class="mb-2">
                            <p><i class="bi bi-bicycle"></i> YAMAHA</p>
                        </li>
                        <li class="mb-2">
                            <p><i class="bi bi-bicycle"></i> DUCATI</p>
                        </li>
                        <li class="mb-2">
                            <p><i class="bi bi-bicycle"></i> KAWASAKI</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 order-lg-1">
                    <h5 class="text-uppercase mb-4">Contacto</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p><i class="bi bi-geo-alt-fill"></i> Av. Central, Hatillo 3, San José</p>
                        </li>
                        <li>
                            <p><i class="bi bi-telephone-fill"></i> 2252-0404</p>
                        </li>
                        <li>
                            <p><i class="bi bi-envelope-at-fill"></i> autorepuestosda@outlook.com</p>
                        </li>
                        </ul>
                    </div>

                </div>
        </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                &copy; Copyrigth
                <script>document.write(new Date().getFullYear());</script> <a href="http://autorepuestosdonaana.com/" target="_blank">Autorespuestos Doña Ana.</a>
                Todos los derechos reservados.
            </div>
    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader">
        <div class="line"></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="~/template/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/template/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/template/vendor/aos/aos.js"></script>
    <script src="~/template/vendor/php-email-form/validate.js"></script>
    <!--Se agregaron estas 2 librerias-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!--Fin de las 2 nuevas librerias-->
    <!-- Template Main JS File -->
    <script src="~/template/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

    <script src="~/template/js/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                language:{
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend:     'excelHtml5',
                        text:       '<i class="bi bi-file-earmark-excel-fill"></i>',
                        titleAttr:  'Exportar a Excel'
                    },
                    {
                        extend:     'pdfHtml5',
                        text:       '<i class="bi bi-file-earmark-pdf-fill"></i>',
                        titleAttr:  'Exportar a PDF'
                    },
                    {
                        extend:     'print',
                        text:       '<i class="bi bi-printer-fill"></i>',
                        titleAttr:  'Imprimir'
                    },
                ]
            });
        });

        $(document).ready(function () {
            $('#carrito').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
            });
        });
    </script>

</body>

</html>

@*<script src="~/js/buscador.js"></script>*@