@model Autorepuestos.Entities.ProductosEntities
@{
    ViewBag.Title = "ModificarProducto";
}

<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Modificar Producto</h3>
                </div>
                <div class="card-body">
                    <br />

                    @using (Html.BeginForm("ModificarProducto", "Producto", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-layout row mg-b-25" }))
                    {

                        @Html.HiddenFor(m => m.pIdProducto, new{@class="form-control", @style="color:grey"})

                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.NombreProducto, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.NombreProducto ,htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.Descripcion, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.Descripcion, htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.Precio, htmlAttributes: new{ @class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.Precio, htmlAttributes: new{@type = "number ",@class = "form-control col-md-4"})
                            </div>

                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdProveedor, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.DropDownListFor(model => model.IdProveedor, ViewBag.ComboProveedores as List<SelectListItem>, new { @class = "form-control col-md-4" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdCategoria, htmlAttributes: new {@class="form-control-label col-md-4"})
                                @Html.DropDownListFor(model => model.IdCategoria, ViewBag.ComboCategorias as List<SelectListItem>, new { @class = "form-control col-md-4" })
                            </div>
                            <div class=" col-md-4">
                                @Html.LabelFor(m => m.Existencias, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.Existencias, htmlAttributes: new{@type = "number ",@class = "form-control col-md-4"})
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.ImagenDatos, htmlAttributes: new{@class="form-control-label col-md-4 "})
                                @Html.TextBoxFor(m => m.ImagenDatos, htmlAttributes: new{@class = "form-control col-md-4",@type = "file",@accept=".png,.jpg,.jpeg"})
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-success" role="button" onclick="MensajeModificacionProducto()">Guardar</button>
                                <a class="btn btn-secondary" role="button" href="@Url.Action("MostrarProductos","Producto")">Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>



