@model IEnumerable<Autorepuestos.Entities.ProductosEntities>
@{
    ViewBag.Title = "MostrarProductos";
}

<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Tabla de Productos</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" role="button" href="@Url.Action("AgregarProducto", "Producto")">Agregar Producto</a>
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table id="example" class="table table-light table-hover" style="width:100%">

                            <thead>
                                <tr>
                                    <th scope="col">Código Producto</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Existencias</th>
                                    <th scope="col">Proveedor</th>
                                    <th scope="col">Opciones</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@Html.DisplayFor(modelItem => item.pIdProducto)</th>
                                        <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                        <td>₡@Html.DisplayFor(modelItem => item.Precio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NombreCategoria)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Existencias)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NombreProveedor)</td>
                                        <td>
                                            <a class="btn btn-primary" role="button" href="@Url.Action("ModificarProducto","Producto", new{id = item.pIdProducto})">Editar</a>
                                        </td>
                                        <td><a class="btn btn-danger" role="button" href="@Url.Action("EliminarProducto","Producto", new{id = item.pIdProducto})">Eliminar</a></td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



