@model Autorepuestos.Entities.UsuariosEntities
@{
    ViewBag.Title = "ModificarUsuario";
}

<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Modificar Usuario</h3>
                </div>
                <div class="card-body">
                    <br />

                    @using (Html.BeginForm("ModificarUsuarioTrabajador", "Usuario", FormMethod.Post, new { @class = "form-layout row mg-b-25" }))
                    {

                        @Html.HiddenFor(m => m.IdUsuario, new{@class="form-control", @style="color:grey"})
                        @Html.HiddenFor(m => m.pIdRol, new{@class="form-control", @style="color:grey"})




                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.pNombre, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.pNombre ,htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.pApellido1, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.pApellido1, htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.pCedula, htmlAttributes: new{ @class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.pCedula, htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.pTelefono, htmlAttributes: new{ @class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.pTelefono, htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.pCorreo, htmlAttributes: new{ @class="form-control-label col-md-4"})
                                @Html.TextBoxFor(m => m.pCorreo, htmlAttributes: new{@type = "text ",@class = "form-control col-md-4"})
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-success" onclick="MensajeModificacionUsuario()" role="button">Guardar</button>
                                <a class="btn btn-secondary" role="button" href="@Url.Action("VerUsuarios","Usuario")">Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>


