@model IEnumerable<Autorepuestos.Entities.ProveedorEntities>
@{
    ViewBag.Title = "MostrarProveedor";
    var rol = Context.Session.GetInt32("IdRol");
}

<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Tabla de Proveedores</h3>
                </div>
                <div class="card-body">
                    @if (rol == 3)
                    {
                        <a class="btn btn-success" role="button" href="@Url.Action("AgregarProveedor", "Proveedor")">Agregar Proveedor</a>
                    }
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table id="example" class="table table-light table-hover" style="width:100%">

                            <thead>
                                <tr>
                                    <th scope="col">Código Proveedor</th>
                                    <th scope="col">Proveedor</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Opciones</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@Html.DisplayFor(modelItem => item.IdProveedor)</th>
                                        <td>@Html.DisplayFor(modelItem => item.NombreProveedor)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                                        @if (rol == 3)
                                        {
                                            <td>
                                                <a class="btn btn-primary" role="button" href="@Url.Action("ModificarProveedor","Proveedor", new{id = item.IdProveedor})">Editar</a>
                                            </td>
                                            
                                        }
                                        @if (rol == 2)
                                        {
                                            <td>
                                                <a class="btn btn-primary" role="button" href="@Url.Action("ModificarProveedor","Proveedor", new{id = item.IdProveedor})">Editar</a>
                                            </td>
                                        }
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
