@model IEnumerable<Autorepuestos.Entities.CarritoEntities>
@{
    ViewBag.Title = "CarritoCompras";
}
<br />
<br />
<br />
<h1>Carro de compras</h1>
<table id="example" class="table table-dark" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                <td>¢@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>¢@Html.DisplayFor(modelItem => item.Subtotal)</td>
                <td><img src="@Url.Content(item.Imagen)" width="75" height="75" /></td>
                <td>
                    <a class="btn btn-primary" role="button" href="@Url.Action("ModificarCarrito","Carrito", new{id = item.IdDetalle})">Editar</a>
                    <a class="btn btn-primary" role="button" href="@Url.Action("EliminarCarrito","Carrito", new{id = item.IdDetalle})">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
    <tr>
        <td>Monto Final</td>
        <td></td>
        <td>Total</td>
        <td>¢ @ViewBag.Total</td>
        <td></td>
        <td></td>
    </tr>
</table>
<a href="@Url.Action("CrearFactura", "Factura")" class="btn btn-primary">Finalizar Compra</a>

