@model IEnumerable<Autorepuestos.Entities.CarritoEntities>
@{
    ViewBag.Title = "DetalleCompras";
}
<br />
<br />
<br />
<br />
<br />
<br />
<table class="table table-light" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                <td>¢@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>¢@Html.DisplayFor(modelItem => item.Subtotal)</td>
                <td><img src="@Url.Content(item.Imagen)" width="75" height="75" /></td>
            </tr>
        }
    </tbody>
    <tr>
        <td>Monto Final</td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>¢ @ViewBag.Total</td>
        <td></td>
    </tr>
</table>
<a href="@Url.Action("ConsultarTipoPago", "Factura")" class="btn btn-primary">Elegir Método Pago</a>

<script>
    document.onkeydown = function (e) {
        recarga = (document.all) ? e.keyCode : e.which;
        if (recarga = 116) {
            return false;
        }
    }
</script>