@model Autorepuestos.Entities.CarritoEntities
@{
    ViewBag.Title = "ModificarCarrito";
}
<hr />
<hr />
<hr />
<hr />
<h1>Modificar Compra</h1>
<div>
    @using (Html.BeginForm("ModificarCarrito", "Carrito", FormMethod.Post, new { @class = "form-layout row mg-b-25" }))
    {
        @Html.HiddenFor(m => m.IdProducto)
        @Html.HiddenFor(m => m.IdCarrito, new{@class="form-control", @style="color:grey"})
        @Html.HiddenFor(m => m.Precio)
        <div class="d-flex justify-content-center container mt-5">
            <div class="card p-3 bg-white">
                <div class="about-product text-center mt-2">
                    <img class='mx-auto img-thumbnail'
                         src="@Url.Content(Model.Imagen)" alt="Descripción de la imagen"
                         title="Descripción adicional de la imagen"
                         width="350" height="500" />
                    <div>
                        <h4 class="card-title font-weight-bold">@Html.DisplayFor(m => m.NombreProducto)</h4>
                    </div>
                </div>
                <div class="stats mt-2">
                    <div class="d-flex justify-content-between p-price"><span>Existencias disponibles:</span><span>@Html.DisplayFor(m => m.Existencias)</span></div>
                    <br>
                    <div class="d-flex justify-content-between p-price"><span>Cantidad deseada:</span><span>@Html.EditorFor(m=>m.Cantidad, new { htmlAttributes = new { @class = "control-label col-md-6 offset-md-6" }})</span></div>
                </div>
                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                    <button class="btn btn-primary" role="button" onclick="MensajeModificacionProducto()">Modificar</button>
                    <a class="btn btn-secondary" role="button" href="@Url.Action("CarritoCompras","Carrito")">Cancelar</a>
                </div>
            </div>
        </div>
    }
</div>
        
<script src="~/js/site.js"></script>

