@model IEnumerable<Autorepuestos.Entities.FacturaEntities>
@{
    ViewBag.Title = "VerFacturas";
}

<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Tabla de Facturas</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-light table-hover" style="width:100%">

                            <thead>
                                <tr>
                                    <th scope="col">Código Factura</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Monto Total</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Tipo de Pago</th>
                                    <th scope="col">Tipo de Retiro</th>
                                    <th scope="col">Estado Factura</th>
                                    <th scope="col"></th>
                                    <th scope="col">Opciones</th>
                                    <th scope="col"></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@Html.DisplayFor(modelItem => item.IdFactura)</th>
                                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NombreUsuario)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MontoTotal)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TipoPago)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TipoRetiro)</td>
                                        <td class="line-breaks">@(item.EstadoFactura ? "Procesada" : "Pendiente")</td>
                                        <td><a class="btn text-light "style="background-color:#0489B1" role="button" href="@Url.Action("VerDetalleFactura","Factura", new{id = item.IdFactura})">Detalle Factura</a></td>
                                        
                                            <td><a class="btn text-light" style="background-color:#EE510D" role="button" href="@Url.Action("CambiarEstadoFactura","Factura", new{id = item.IdFactura})">Cambiar Estado</a></td>
                                                <td><a class="btn btn-danger" role="button" onclick="MensajeconfirmarEliminacionFactura(@item.IdFactura)">Eliminar Factura</a></td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/site.js"></script>