@model Autorepuestos.Entities.PedidosEntities
@{
    ViewBag.Title = "ModificarPedido";
}


<div class="contenedor">

    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Agregar Pedido</h3>
                </div>
                <div class="card-body">
                    <br />

                    @using (Html.BeginForm("AgregarPedido", "Pedido", FormMethod.Post, new { @class = "form-layout row mg-b-25" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdProducto, new{@class="form-control-label"})
                                @if (ViewBag.ComboProductos != null)
                                {
                                    @Html.DropDownListFor(model => model.IdProducto, ViewBag.ComboProductos as List<SelectListItem>, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.IdProducto, new List<SelectListItem>(), new { @class = "form-control col-md-4" })
                                }
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.Cantidad, new{@class="form-control-label"})
                                @Html.TextBoxFor(m=>m.Cantidad, new{@class="form-control", @style="color:grey"})
                                @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })
                            </div>

                   

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdProveedor, new{@class="form-control-label"})
                                @if (ViewBag.ComboProveedores != null)
                                {
                                    @Html.DropDownListFor(model => model.IdProveedor, ViewBag.ComboProveedores as List<SelectListItem>, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.IdProveedor, new List<SelectListItem>(), new { @class = "form-control col-md-4" })
                                }
                            </div>

                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.PrecioProducto, new{@class="form-control-label"})
                                @Html.TextBoxFor(m=>m.PrecioProducto, new {@class="form-control", @style="color:grey"})
                                @Html.ValidationMessageFor(m => m.PrecioProducto, "", new { @class = "text-danger" })

                            </div>

                            @*<div class="col-md-4">
                                @Html.LabelFor(m => m.PrecioTotal, new{@class="form-control-label"})
                                @Html.TextBoxFor(m=>m.PrecioTotal, new{@class="form-control", @style="color:grey"})
                            </div>*@

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdUsuario, new{@class="form-control-label"})
                                @if (ViewBag.ComboUsuarios != null)
                                {
                                    @Html.DropDownListFor(model => model.IdUsuario, ViewBag.ComboUsuarios as List<SelectListItem>, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.IdUsuario, new List<SelectListItem>(), new { @class = "form-control col-md-4" })
                                }
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-8">
                                <input type="submit" id="PedidoAgregado" class="btn btn-success" value="Agregar" />
                                <a class="btn btn-secondary" role="button" href="@Url.Action("MostrarPedido","Pedido")">Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/site.js"></script>
    <script>
        @if (TempData.ContainsKey("MensajePedidoAgregado") && (bool)TempData["MensajePedidoAgregado"])
        {
            @:MensajePedidoAgregado();
        }
    </script>
}