@model Autorepuestos.Entities.PedidosEntities
@{
    ViewBag.Title = "ModificarPedido";
}
<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Editar Pedido</h3>
                </div>
                <div class="card-body">
                    <br />

                    @using (Html.BeginForm("ModificarPedido", "Pedido", FormMethod.Post, new { @class = "form-layout row mg-b-25" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.pIdPedido, new{@class="form-control", @style="color:grey"})
                            </div>

                            <div class="col-md-6">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdProducto, htmlAttributes: new {@class="form-control-label"})
                                @Html.DropDownListFor(model => model.IdProducto, ViewBag.ComboProductos as List<SelectListItem>, new { @class = "form-control" })

                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdProveedor, htmlAttributes: new{@class="form-control-label"})
                                @Html.DropDownListFor(model => model.IdProveedor, ViewBag.ComboProveedores as List<SelectListItem>, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdUsuario, htmlAttributes: new{@class="form-control-label"})
                                @Html.DropDownListFor(model => model.IdUsuario, ViewBag.ComboUsuarios as List<SelectListItem>, new { @class = "form-control" })
                            </div>

                        </div>

                        <br />
                        <br />
                        <br />
                        <br />
                        

                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.Cantidad, htmlAttributes: new{@class="form-control-label"})
                                @Html.TextBoxFor(m => m.Cantidad, new{@class="form-control"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.PrecioProducto, htmlAttributes: new{@class="form-control-label"})
                                @Html.TextBoxFor(m => m.PrecioProducto, new{@class="form-control"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.PrecioTotal, htmlAttributes: new{@class="form-control-label"})
                                @Html.TextBoxFor(m => m.PrecioTotal, new{@class="form-control",@readonly="true"})
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-success" role="button" onclick="MensajeModificacionPedido()">Guardar</button>
                                <a class="btn btn-secondary" role="button" href="@Url.Action("MostrarPedido","Pedido")">Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>