@model IEnumerable<Autorepuestos.Entities.EntregasEntities>
@{
    ViewData["Title"] = "VerEntregas";
    var rol = Context.Session.GetInt32("IdRol");
}
<br />
<br />
<br />
<h2>Entregas</h2>
@if(rol != 4)
{
    <a class="btn btn-primary" role="button" href="@Url.Action("AgregarEntrega", "Entrega")">Agregar Entrega</a>
}
<br />
<br />
<div class="contenedor">
    <div class="row gy-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <div class="card">
                        <div class="card-body text-center mx-auto">
                            <div class='cvp'>
                                <h5 class="card-title font-weight-bold">Codigo Entrega #@Html.DisplayFor(modelItem => item.pIdEntrega)</h5>
                                <p class="card-text">Productos a Entregar: @Html.DisplayFor(modelItem => item.Productos)</p>
                                <p class="card-text">Direccion: @Html.DisplayFor(modelItem => item.DireccionEntrega)</p>
                                <p class="card-text">Telefono: @Html.DisplayFor(modelItem => item.Telefono)</p>
                                <p class="card-text">Cedula Cliente: @Html.DisplayFor(modelItem => item.Cedula)</p>
                                <p class="card-text">Estado: @Html.DisplayFor(modelItem => item.Estado)</p><!--Ver si se puede pasar esto a un checkbox-->
                                @if(rol == 4)
                                {
                                    <a class="btn btn-primary" @*data-bs-toggle="modal"*@ href="@Url.Action("EditarEntregaRepartidor", "Entrega", new{id= item.pIdEntrega})" role="button">Editar</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" @*data-bs-toggle="modal"*@ href="@Url.Action("EditarEntrega", "Entrega", new{id= item.pIdEntrega})" role="button">Editar</a>
                                    <a class="btn btn-danger" role="button" href="@Url.Action("EliminarEntrega","Entrega", new{id = item.pIdEntrega})">Eliminar</a>
                                
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>