@model Autorepuestos.Entities.EntregasEntities
@{
    ViewBag.Title = "AgregarEntrega";
}

<div class="container">
    <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Pedidos</h6>
        <p class="mg-b-20 mg-sm-b-30" style="font-weight: bold;">Agregar un pedido</p>
        @using (Html.BeginForm("AgregarEntrega", "Home", FormMethod.Post, new { @class = "form-layout row mg-b-25" }))
        {
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.IdProducto, new{@class="form-control-label"})
                    @Html.DropDownListFor(model => model.IdProducto, ViewBag.ComboProducto as List<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
            <br />

            <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                    @Html.LabelFor(m => m.DireccionEntrega, new{@class="form-control-label"})
                    @Html.TextBoxFor(m=>m.DireccionEntrega, new{@class="form-control", @style="color:grey"})
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                    @Html.LabelFor(m => m.IdUsuario, new{@class="form-control-label"})
                    @Html.DropDownListFor(model => model.IdUsuario, ViewBag.ComboUsuario as List<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                    @Html.LabelFor(m => m.Estado, new{@class="form-control-label"})
                    @Html.TextBoxFor(m=>m.Estado, new{@class="form-control", @style="color:grey"})
                </div>
            </div>

            <div class="form-layout-footer">
                <br />
                <button class="btn btn-primary" @*data-bs-toggle="modal"*@ @*href="#exampleModalToggle"*@ role="button">Agregar</button>
                <a class="btn btn-secondary" role="button" href="@Url.Action("VerEntregas","Home")">Cancelar</a>
            </div>
        }
    </div>
</div>
