@{
    ViewBag.Title = "MostrarEntregasRepartidor";
}
<br />
<br />
<br />
<h1>Entregas</h1>
<br />
<div class="row gy-4 justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Entrega #1</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Bateria</li>
                    </ul>
                    <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                    <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                    <p class="card-text">157889055</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                    <p class="card-text">8552-1144</p><br />
                    <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Realizado</option>
                    </select>
                    <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
                </div>
            </div>
        </div>
    </div><!-- End Gallery Item -->
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Entrega #1</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Bateria</li>
                    </ul>
                    <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                    <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                    <p class="card-text">157889055</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                    <p class="card-text">8552-1144</p><br />
                    <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Realizado</option>
                    </select>
                    <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
                </div>
            </div>
        </div>
    </div><!-- End Gallery Item -->
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Entrega #1</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Bateria</li>
                    </ul>
                    <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                    <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                    <p class="card-text">157889055</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                    <p class="card-text">8552-1144</p><br />
                    <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Realizado</option>
                    </select>
                    <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
                </div>
            </div>
        </div>
    </div><!-- End Gallery Item -->
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Entrega #1</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Bateria</li>
                    </ul>
                    <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                    <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                    <p class="card-text">157889055</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                    <p class="card-text">8552-1144</p><br />
                    <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Realizado</option>
                    </select>
                    <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
                </div>
            </div>
        </div>
    </div><!-- End Gallery Item -->
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Entrega #1</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Bateria</li>
                    </ul>
                    <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                    <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                    <p class="card-text">157889055</p><br />
                    <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                    <p class="card-text">8552-1144</p><br />
                    <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Realizado</option>
                    </select>
                    <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
                </div>
            </div>
        </div>
    </div><!-- End Gallery Item -->
</div>
