@model IEnumerable<Autorepuestos.Entities.PedidosEntities>
@{
    ViewBag.Title = "MostrarPedidoProveedores";
}

<h1>Pedidos</h1>


<a class="btn btn-primary" role="button" href="@Url.Action("AgregarPedidoProveedores", "Home")">Nuevo Pedido</a>

<br />
<br />
<table class="table">

    <thead>
        <tr>
            <th scope="col">Código Pedido</th>
            <th scope="col">Producto</th>
            <th scope="col">Factura</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Precio Producto</th>
            <th scope="col">Precio Total</th>
            <th scope="col">Colaborador</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.IdPedido)</th>
                <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.IdFactura)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.IdProveedor)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioTotal)</td>
                <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                <td>
                    <a class="btn btn-primary" role="button" href="@Url.Action("ModificarPedidoProveedores","Home", new{id = item.IdPedido})">Actualizar</a>
                </td>
                <td><a class="btn btn-primary" role="button" href="@Url.Action("EliminarPedido","Home", new{id = item.IdPedido})">Eliminar</a></td>@*recordar ver lo del toggle*@
            </tr>
        }

        @*<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Pedido eliminado
        </div>
        </div>
        </div>
        </div>*@
    </tbody>
</table>


