@{
    ViewBag.Title = "MostrarEntregasRepartidor";
}

    <h1>Entregas</h1>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Entrega #1</h2>
                <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                <ul class="list-group">
                    <li class="list-group-item">Bateria</li>
                </ul>
                <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                <p class="card-text">157889055</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                <p class="card-text">8552-1144</p><br />
                <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Realizado</option>
                </select>
                <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Entrega #2</h2>
                <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                <ul class="list-group">
                    <li class="list-group-item">Frenos</li>
                </ul>
                <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                <p class="card-text">Del cristo de sabanilla 300m Este, 300m Sur</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                <p class="card-text">117700888</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                <p class="card-text">8552-7412</p><br />
                <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Realizado</option>
                </select>
                <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Entrega #3</h2>
                <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                <ul class="list-group">
                    <li class="list-group-item">Bateria</li>
                </ul>
                <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                <p class="card-text">Parque Central de San José, costado Este</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                <p class="card-text">477060098</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                <p class="card-text">7410-1144</p><br />
                <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Realizado</option>
                </select>
                <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Entrega #4</h2>
                <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                <ul class="list-group">
                    <li class="list-group-item">Radiador</li>
                </ul>
                <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                <p class="card-text">Del parque de Heredia 300m Este, 250m Sur</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                <p class="card-text">1156002487</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                <p class="card-text">6963-8777</p><br />
                <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Realizado</option>
                </select>
                <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Entrega #5</h2>
                <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                <ul class="list-group">
                    <li class="list-group-item">Bomba de agua</li>
                </ul>
                <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                <p class="card-text">145233699</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                <p class="card-text">8552-4587</p><br />
                <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Realizado</option>
                </select>
                <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Entrega #6</h2>
                <h4 class="card-subtitle mb-2 text-muted">Productos a Entregar</h4>
                <ul class="list-group">
                    <li class="list-group-item">Led Carro/Moto</li>
                </ul>
                <h5 class="card-subtitle mb-2 text-muted" style="margin-top: 3px;">Direccion</h5>
                <p class="card-text">Del parque de San Pedro 300m Este, 250m Sur</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Cedula Cliente</h5>
                <p class="card-text">157889055</p><br />
                <h5 class="card-subtitle mb-2 text-muted">Telefono</h5>
                <p class="card-text">8552-1144</p><br />
                <h6 class="card-subtitle mb-2 text-muted">Estado de la Entrega</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>Pendiente</option>
                    <option value="2">Realizado</option>
                </select>
                <a href="@Url.Action("ModificarEntregaRepartidor", "Home")" class="card-link nav-link active"><button type="submit" class="btn btn-primary" style="width:150px; margin:20px 20px 20px 30px">Editar</button></a>
            </div>
        </div>
    </div>
